*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ff7978;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    margin: 80px auto;
    display: flex;
}
.left{
    width: 50%;
    padding: 80px 0 80px 10%;
}
.left h1{
    font-size: 40px;
    line-height: 45px;
    color: #fcfeff;
    margin-bottom: 20px;
}
.left p{
    font-size: 15px;
    color: #fcfeff;
}
.right{
    width: 50%;
}
.try{
    background-color: #5d54a3;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}
.try span{
    font-size: 14px;
    color: #fcfeff;
    font-weight: 600;
}
.try p{
    font-size: 14px;
    color: #fcfeff;
}
.register{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 25px 0 25px 0;
}
.register input{
    width: 90%;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #7e7994;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-indent: 10px;
}
.register button{
    background-color: #37cc8a;
    color: white;
    width: 90%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    border-bottom: 5px solid #3ab47e;
    border-radius: 10px;
    transition: 500ms;
}
.register button:hover{
    cursor: pointer;
    background-color: #77e2b4;
}
.register button:active{
    transform: translateY(5px);
}
.register p{
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    color: #aeaabe;
}
.register a{
    text-decoration: none;
    color: #ff7978;
    font-weight: 500;
}
.register a:hover{
    text-decoration: underline;
}
@media (max-width: 1152px){
    .left{
        padding: 0;
        padding: 50px 10px 0 50px;
    }
}
@media (max-width: 980px){
    .try{
        width: 90%;
    }
    .register{
        width: 90%;
    }
}
@media (max-width: 864px){
    .container{
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .try{
        width: 100%;
        margin-top: 20px;
    }
    .register{
        width: 100%;
    }
}
@media (max-width: 692px){
    .try{
        background-color: royalblue;
        display: flex;
        flex-direction: column;
    }
    .register p{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 400px){
    .left h1{
        font-size: 25px;
    }
    .left p{
        font-size: 12px;
        text-justify: auto;
    }
}